body {
    background: #eceef1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: block;
  width: 100%;
  font-weight: 400;
  color: #404040;
  font-size: 14px;
  line-height: 25px;
}

input, 
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  height: 34px;
  letter-spacing: normal;
  line-height: 21.84px;
  margin: 0px 0px 0px 0px;
  padding: 0px 6px 8px 0px;
  text-align: start;
  background-color: white;
  /* Uniform text field size */
  width: 100%;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #c1c5c8;
}

input:focus, 
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.signup-button {
  height: 44px;
  width: 318px;
  background: #0077c5;
  border: 1px solid #0077c5;
  color: white;
  font-size: 16px;
}

.form-section {
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  margin: 0 auto;
  width: 318px;
  padding: 1em;
}

.form-header, .form-description {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  display: block;
  color: #4c4c4c;
}

.form-description {
  font-size: 14px;
  padding-top: 20px;
}

.section-header {
  padding-bottom: 20px;
}

.learn-more {
  display: block;
  color: #0077c5;
}

.button-li {
  margin-bottom: 30px;
}

.footer-description {
  font-size: 14px;
  text-align: center;
}